body {
    background-image: url("/home/aschonely/code/projects/hack-track/hack-track-client/src/resources/images/steven-shircliff-N21z4eG8aKg-unsplash.jpg");
}
.flex-container {
    display: flex;
    justify-content: center;
}
.container {
    padding: 10px;
}
h2 {
    text-align: center;
}